apiVersion: v1
kind: Service
metadata:
  name: geo-fence-service
  labels:
    app: geo-fence-service
spec:
  type: ClusterIP
  selector:
    app: geo-fence-service
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
    - port: 9090
      targetPort: 9090
      protocol: TCP
      name: grpc
